.widefat .column-order_status mark.shipped {
background-image: url('../images/icons/completed.png');
background-color: #96CA2D;
}
.widefat .column-order_status mark.partially-shipped {
background-image: url('../images/icons/st-processing.png');
background-color: #C79F4B;
}
.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}
.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}
.block-content {
	margin: 1em;
	min-height: .25em;
}
#mainform .TextForm{
    min-width:300px;
}
#mainform .TextareaForm{
 width:60%; height: 320px;   
}